<nav class="navbar has-background-link	">
    <div class="container">

        <div class="navbar-brand">
            <div id="burger" class="navbar-burger burger has-text-white" data-target="navbarTrans">
                <span></span>
                <span></span>
                <span></span>
            </div>                
        </div>

        <div id="navbarTrans" class="navbar-menu">          
            <div  class="navbar-end" data-target="navbarTrans">
                <div class="navbar-item">
                    <div class="buttons">
                        <a *ngIf="!isLoggedIn" [ngClass]="'button is-link '+(!mode?'is-inverted':'')" (click)="login()">Login</a>
                        <a *ngIf="!isLoggedIn" [ngClass]="'button is-link '+(mode?'is-inverted':'')" (click)="regist()">Registro</a>
                        <a *ngIf="isLoggedIn" class="button is-link" (click)="logOut()">Salir</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</nav>